Package: luci-app-parental-privacy
Version: 1.0.0
Depends: luci-base, nftables
DEPENDS: luci-base, nftables ,rpcd ,udp-broadcast-relay-redux ,umdns
Architecture: all
Maintainer: Edward Watts
Description: A one-click Parental Privacy Wizard for OpenWrt.